<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <br></br>
    <br></br>
    <br></br>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="artistForm :: postForm"></div>
        </div>
        <div class="col-sm-10"></div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Artist Name</td>
                <td>Artist Type</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="artist : ${artists}">
                <td><a th:href="@{'/artist/{id}'(id=${artist.artistId})}" th:text="${artist.name}"></a></td>
                <td th:text="${artist.type}"></td>
            </tr>

        </tbody>
    </table>
</div>

<div class="container">
    <div th:replace="fragments :: footer"></div>
</div>

</body>
</html>