<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <br></br>
    <br></br>
</div>
    <div class="container">
        <div class="page-header">
            <table>
                <thead>
                    <tr>
                        <td>Artist Name</td>
                        <td>Artist Type</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="artist : ${artists}">
                        <td th:text="${artist.name}"></td>
                        <td th:text="${artist.type}"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div th:replace="fragments :: footer" class="footer"></div>
    </div>
</body>
</html>