<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <br></br>
    <br></br>
</div>

<div class="container">
    <div class="page-header">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Track Name</td>
                <td>Artist Name</td>
                <td>Length</td>
                <td>Playcount</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${songs}">
                <td><a th:href="@{'/song/{id}'(id=${item.songId})}" th:text="${item.title}"/></td>
                <td th:text="${item.leadArtist.name}"></td>
                <td th:text="${item.length}"></td>
                <td th:text="${item.playcount}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div th:replace="fragments :: footer"></div>
</div>

</body>
</html>