<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${song.title} + ' - ' + ${song?.leadArtist?.name} "/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <br></br>
    <br></br>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"><h1 th:text="${song.title}"/></div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <td>Title</td>
                <td>Artist</td>
                <td>Length</td>
                <td>Artwork</td>
                <td>Featured Artists</td>
                <td>Lyrics</td>
                <td>Genre</td>
            </thead>
            <tr>
                <td th:text="${song?.title}"></td>
                <td><a th:href="@{'/artist/{id}'(id=${song.leadArtist.artistId})}" th:text="${song.leadArtist.name}"></a></td>
                <td th:text="${song?.length}"></td>
                <td th:text="${song?.artwork}"></td>
                <td><a th:each="artist : ${song?.featuredArtists}" th:href="@{'/artist/{id}'(id=${artist.artistId})}" th:text="${artist.name} + ' '"></a></td>
                <td th:text="${song?.lyrics}"></td>
                <td th:text="${song?.genre}"></td>
            </tr>
        </table>
    </div>

</div>

<div class="container">
    <div th:replace="songForm :: postForm"></div>
</div>

<div class="container">
    <div th:replace="fragments :: footer"></div>
</div>

</body>
</html>